<!DOCTYPE html>
<div ng-if="!ready">
    loading...
</div>

<div ng-if="ready">
    <div ng-if="bad">error</div>
    <div ng-if="!bad">

        <h2>Project description</h2>

        <div ng-if="metadataEdition.isOpen">
            <div ng-include="'partials/create_metadata_form.html'"></div>
        </div>
        <div ng-if="!metadataEdition.isOpen">
            <p><b>{{project.title}}</b></p>
            <p>{{project.description}}</p>
            <button class="pure-button pure-button-primary" ng-click="metadataEdition.open()">Edit</button>
        </div>

        <h2>Project visibility</h2>
        <div ng-if="project.is_public">
            <p>This project is <b>public</b>, any user can see it.</p>
            <button class="pure-button pure-button-primary" ng-click="projectActions.setIsPublic(false)">Make private</button>
        </div>
        <div ng-if="!project.is_public">
            <p>This project is <b>private</b>, only you and the current members can see it.</p>
            <button class="pure-button pure-button-primary" ng-click="projectActions.setIsPublic(true)">Make public</button>
        </div>

        <h2>Data logging profiles</h2>

        <div ng-repeat="profile in project.profiles" class="profile">
            <div ng-if="profileActions.isEditingProfile(profile.id)">
                <div ng-include="'partials/create_profile_form.html'"></div>
            </div>
            <div ng-if="!profileActions.isEditingProfile(profile.id)">
                <p>
                    <b>{{profile.title}}</b>
                    <span ng-if="profile.is_active">   
                        <button class="pure-button pure-button-primary pure-button-xsmall" ng-click="profileActions.makeActive(profile.id, false)">Make inactive</button>
                    </span>
                    <span ng-if="!profile.is_active">
                        <button class="pure-button pure-button-primary pure-button-xsmall" ng-click="profileActions.open(profile.id)">Edit</button>
                        <button class="pure-button pure-button-primary pure-button-xsmall" ng-click="profileActions.makeActive(profile.id, true)">Make active</button>
                    </span>
                </p>
                <ul>
                    <li ng-repeat="input in profile.inputs">
                        {{input.sensor}}: {{input.rate}} samples/s.
                    </li>
                </ul>
            </div>
        </div>


        <div ng-if="profileActions.isEditingNew()">
            <div ng-include="'partials/create_profile_form.html'"></div>
        </div>
        <div ng-if="!profileActions.isEditingNew()">
            <button class="pure-button pure-button-primary" ng-click="profileActions.open()">Add profile</button>
        </div>

    </div>

</div>