<!DOCTYPE html>
<div ng-if="!ready">
    loading...
</div>

<div ng-if="ready">
    <div ng-if="bad">error</div>
    <div ng-if="!bad">

        <div class="nsp-buttons-on-hover">
            <h2>Project description</h2> 

            <div ng-if="metadataEdition.isOpen">
                <div ng-include="'partials/create_metadata_form.html'"></div>
            </div>
            <div ng-if="!metadataEdition.isOpen">
                <p><b>{{project.title}}</b> </p>
                <p>{{project.description}}</p>
                <button class="pure-button pure-button-primary nsp-button-hidden" ng-click="metadataEdition.open()">Edit</button>
            </div>
        </div>

        <div class="nsp-buttons-on-hover">
            <h2>Project visibility</h2>
            <div ng-if="project.is_public">
                <p>This project is <b>public</b>, any user can see it.</p>
                <button class="pure-button pure-button-primary nsp-button-hidden" ng-click="projectActions.setIsPublic(false)">Make private</button>
            </div>
            <div ng-if="!project.is_public">
                <p>This project is <b>private</b>, only you and the current members can see it.</p>
                <button class="pure-button pure-button-primary nsp-button-hidden" ng-click="projectActions.setIsPublic(true)">Make public</button>
            </div>
        </div>
        
        <h2>Data logging profiles</h2>
        
        <div ng-repeat="profile in project.profiles" class="profile nsp-buttons-on-hover-b">
            <div ng-include="'partials/create_profile_title.html'" ng-controller='CreateEditProfileTitleCtrl'></div>
            
            <div ng-repeat="input in profile.inputs">
                <div ng-include="'partials/create_profile_input.html'" ng-controller="CreateEditProfileInputCtrl"></div>
                <div ng-include="'partials/transformations_form.html'" ng-controller="TransformationsEditCtrl"></div>
            </div> 
            
            <div ng-include="'partials/create_profile_input.html'" ng-controller="CreateEditProfileInputCtrl"></div>
        </div>
    </div>
</div>