<!DOCTYPE html>
<form class="pure-form">
    <fieldset>
        <label>Profile title</label>
        <input type="text" placeholder="title" ng-model="profileActions.openProfile.title" >
        <div class="input-container" ng-repeat="input in profileActions.openProfile.inputs">
            <select ng-model="input.sensor">
                <option value="">Select sensor</option>
                <option value="accelerometer">Accelerometer</option>
                <option value="sound">Sound</option>
            </select>
            <input type="text" placeholder="number" step="any" ng-model="input.rate" >
            <label>samples/s</label>
            <button class="pure-button pure-button-xsmall" ng-click="profileActions.deleteProfileInput(input.id)">Delete</button>
            
            <div nq-data-transformations ng-model="input"></div>
        </div>
        <div>
            <button class="pure-button pure-button-xsmall" ng-click="profileActions.addProfileInput()">Add sensor</button>
        </div>

        <div>
            <button class="pure-button pure-button-primary" ng-disabled="profileActions.okButtonDisabled()" ng-click="profileActions.save()">{{profileActions.isNewProfile() ? "Create" : "Save"}}</button>
            <button class="pure-button pure-button-primary" ng-click="profileActions.cancel()">Cancel</button>
        </div>
    </fieldset>
</form>