<!DOCTYPE html>
<div ng-controller="ProjectModifyCtrl">
    <ul>
        <li class="project" ng-repeat="project in projects">
            <div>
                <b>{{project.title}}</b> 
                <button class="pure-button pure-button-xsmall" ng-click="exploreActions.open(project.id)">
                    Open
                </button>
            </div>
            <div>{{project.description}}</div>
            <div>Members: {{project.user_count}}</div>
            <div ng-include="'partials/project_membership.html'"></div>
        </li>
    </ul>
</div>