<!DOCTYPE html>

<div ng-controller="NavigationCtrl" class="box-container pure-g-r" ng-class="{'box-container-navigation' : notAtHome()}">
    <div class="box-a pure-u-1-3" ng-class="{inactive : inactiveSection('start')}">
        <div class="box-inner">
            <a data-ui-sref="start">Get started</a>
            <div class="description">Read about the nQuire Sensor Toolkit and the nQuire project.</div>
        </div>
    </div>
    <div class="box-b pure-u-1-3" ng-class="{inactive : inactiveSection('explore')}">
        <div class="box-inner">
            <a data-ui-sref="explore">Explore</a>
            <div class="description">Browse existing projects and collaborate with other inquirers.</div>
        </div>
    </div>
    <div class="box-c pure-u-1-3" ng-class="{inactive : inactiveSection('create')}">
        <div class="box-inner">
            <a data-ui-sref="create.list">Create</a>
            <div class="description">Create your own project, share it, and recruit collaborators.</div>
        </div>
    </div>
</div>
