<!DOCTYPE html>
<h2>nQuire Young Citizen Inquiry project</h2>

<p>
    The <a href="http://nquire.wordpress.com/" target="_blank">nQuire: Young Citizen Inquiry</a> aims to support young people be scientists by enabling them to take part in genuine scientific practice through an online open science laboratory. Young people will broaden their understanding of how science is done, co-design investigations, engage in inquiry learning and experience the thrill of finding things out.
</p>

<h2>About this website</h2>

<p>
    As part of the nQuire: Young Citizen Inquiry project, we support young people in creating projects that rely on data collected from smartphones and tablets.
    This can be done through and Android app: <a href="https://play.google.com/store/apps/details?id=org.greengin.sciencetoolkit" target="_blank">nQuire Sensor Toolkit</a>.
</p>
<p>
    So, what can you do here?
</p>
<ul>
    <li><a href="#/explore">Browse</a> projects created by other users.</li>
    <li>Discuss the projects, their objectives, the methodology. Are they relevant? Doable? Fun?
    <li>Join a project, grab <a href="https://play.google.com/store/apps/details?id=org.greengin.sciencetoolkit" target="_blank">our app</a> and collect data.</li>
    <li><a href="#/create">Create</a> your own projects, recruit collaborators, answer your questions with real data.</li>
    <li>Share your results, get a Nobel price?</li>
</ul>


<h2>nQuire Sensor Toolkit</h2>


<p>
    If you have an Android device, you have already a set of sensors capable of logging different types of data.
    nQuire Sensor Toolkit gives access to your smartphone or tablet sensors.
    If you are curious about the sensors your smartphone or tablet may have, use this app to check the type and hardware model of your sensors.
    You can also view the recording your sensors generate in a graph.
</p>
<p>
    How can you use your sensors to support your project?
</p>
<ol>
    <li>Get the app and check what sensors you have available.</li>
    <li>Decide what sensors are useful to answer a question.</li>
    <li>Set up a <tt>data logging profile</tt> in the app.
    <li>Collect data!</li>
    <li>Upload your project and data to this website.</li>
</ol>

You can use your sensors to collect data for a project;
you can set up "projects" by selecting the sensors you need and deciding on the rate at which they log data (e.g., samples per second). nQuire Sensor Toolkit will log the sensor data, visualize it in graphs, export it as CSV and share it with others (e.g., through email). In this way collected data can be processed using other software, such as spreadsheet programs.
Depending on the hardware of your Android device, you may have access to the following sensors:

<ul>
    <li>
        Accelerometers and gravity sensors
    </li>
    <li>
        Gyroscope and compass
    </li>
    <li>
        Magnetic field
    </li>
    <li>
        Proximity
    </li>
    <li>
        Light intensity
    </li>
    <li>
        Ambient temperature, atmospheric pressure, and relative humidity
    </li>
    <li>Sound intensity, using the device's microphone.
    </li>
    <li>
        Location and velocity, using GPS.
    </li>
</ul>
