<!DOCTYPE html>
<div class="nsp-buttons-on-hover">
    <ol>
        <li class="nsp-transformations-form-list-item" ng-repeat="t in view.viewTransformations">
        <tt>

            <span ng-if="view.canEdit(t)" class="pure-form"><input ng-style="view.ostyle(t)" size="12" type="text" placeholder="Data name" ng-model="t.name"/></span>
            <span ng-if="!view.canEdit(t)" ng-style="view.ostyle(t)">{{view.oname(t)}}</span>

            <span ng-if="t.transformation">
                = {{view.tname(t)}}(<span ng-style="view.istyle(t)">{{view.iname(t)}}</span>)                
            </span>

            <span> &#8594; <small><tt> [{{view.dname(t)}}]</tt></small></span>
        </tt>


        <div ng-if="view.canTransform(t)" class="nsp-dropdown nsp-dropdown-inline">
            <button class="pure-button pure-button-xsmall">Transform</button>
            <div class="nsp-dropdown-menu pure-menu pure-menu-open">
                <ul>
                    <li ng-repeat="at in t.availableTransformations"><a href="" ng-click="actions.transform(t, at)">{{view.atname(at)}}</a></li>
                </ul>                    
            </div>
        </div>
        <button ng-if="view.canEdit(t)" class="pure-button pure-button-xsmall" ng-click="actions.deleteTransformation(t)">Delete</button>

        </li>
    </ol>
    <div ng-if="view.isOpen">
        <button class="pure-button pure-button-primary" ng-disabled="view.okButtonDisabled()" ng-click="actions.save()">Save transformations</button>
        <button class="pure-button pure-button-primary" ng-click="actions.cancel()">Cancel</button>        
    </div>
    <div ng-if="!view.isOpen">
        <button class="pure-button pure-button-primary nsp-button-hidden" ng-click="actions.open()">Edit transformations</button>
    </div>
</div>
