<!DOCTYPE html>

<h2>{{project.title}}</h2>

<p>{{project.description}}</p>

<div ng-include="'partials/project_membership.html'"></div>

<h2>Data logging profiles</h2>

<div ng-repeat="profile in project.profiles">
    <h3>{{profile.title}}</h3>
    <div ng-if="project.im_member">
        <div ng-if="profile.installed">
            <p>
                <button class="pure-button pure-button-primary" ng-click="profileActions.removeProfile(profile.id)">
                    Remove profile from app
                </button>
                You have added this profile to your app nQuire Sensor Toolkit.
            </p>
        </div>
        <div ng-if="!profile.installed">
            <p>
                <button class="pure-button pure-button-primary" ng-click="profileActions.addProfile(profile.id)">
                    Add profile to app
                </button>
                If you want to collect data for this project directly using the nQuire Sensor Toolkit app, you can add this profile to the app.
            </p>
        </div>
        <!--<button class="pure-button pure-button-primary" data-ui-sref="upload-data({projectId:project.id, profileId:profile.id})">
            Upload data
        </button>-->
    </div>

    <p>Sensors: <span ng-repeat="input in profile.inputs"><b>{{sensorName(input.sensor)}}</b> ({{input.rate}} samples/s)<span ng-if="$last">.</span><span ng-if="!$last">, </span></span></p>

    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li ng-class="{'pure-menu-selected': view.tab === 'series'}"><a href="" ng-click="view.openTab('series')">Data series</a></li>
            <li ng-class="{'pure-menu-selected': view.tab === 'plot'}"><a href="" ng-click="view.openTab('plot')">Plot</a></li>
        </ul>
    </div>

    <div ng-switch="view.tab">
        <div ng-switch-when="series">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>#</th><th>Samples</th><th>Length (s)</th><th>Selected</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="series in project.series[profile.id]">
                        <td>{{$index + 1}}</td><td>{{seriesData.count(series)}}</td><td>{{seriesData.length(series).toFixed(2)}}</td><td><input type="checkbox" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-default>
            <div ng-repeat="chart in view.charts">
                <div data-nq-flot-chart data-chart="chart" data-project="project" data-profile="profile.id"/>
            </div>
        </div>
    </div>

</div>

